### Stock Price prediction model

In [1]:
import pandas as pd
from typing import List
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_fscore_support

In [2]:
# load CSV file
df = pd.read_csv('Stockprice.csv')

#### Data Prepossessing

In [3]:
# type of data
print(df.dtypes)

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Vol.         object
Change %     object
dtype: object

In [4]:
# drop the first column
df = df.drop(df.columns[0], axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     949 non-null    float64
 1   Open      949 non-null    float64
 2   High      949 non-null    float64
 3   Low       949 non-null    float64
 4   Vol.      948 non-null    object
 5   Change %  949 non-null    object
dtypes: float64(4), object(2)
memory usage: 44.6+ KB

In [6]:
#drop date
df = df.drop(df.columns[0], axis=1)

In [7]:
df.head()

    Open   High    Low   Vol. Change %
0  286.6  286.6  286.6  6.30K    0.00%
1  286.6  286.6  286.6  2.60K    0.00%
2  286.6  286.6  286.6  9.13K    0.00%
3  286.6  286.6  286.6  7.16K    0.00%
4  286.6  286.6  286.6  4.99K    0.00%

In [8]:
# Remove % sign from the data
df['Change %'] = df['Change %'].str.replace('%', '')
df.head()

    Open   High    Low   Vol. Change %
0  286.6  286.6  286.6  6.30K     0.00
1  286.6  286.6  286.6  2.60K     0.00
2  286.6  286.6  286.6  9.13K     0.00
3  286.6  286.6  286.6  7.16K     0.00
4  286.6  286.6  286.6  4.99K     0.00

In [9]:
# Remove K sign from the data
df['Vol.'] = df['Vol.'].str.replace('K', '')

In [10]:
df.head()

    Open   High    Low  Vol. Change %
0  286.6  286.6  286.6  6.30     0.00
1  286.6  286.6  286.6  2.60     0.00
2  286.6  286.6  286.6  9.13     0.00
3  286.6  286.6  286.6  7.16     0.00
4  286.6  286.6  286.6  4.99     0.00

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Open      949 non-null    float64
 1   High      949 non-null    float64
 2   Low       949 non-null    float64
 3   Vol.      948 non-null    object
 4   Change %  949 non-null    object
dtypes: float64(3), object(2)
memory usage: 37.2+ KB